<%- include("partials/header") %>
<div class="jumbotron centered">
    <div class="container">
<h1 class="display-3">Failure !</h1>
<p class="lead">Your data doesn't exist , you can try again if you made any spelling error</p>
<form action="/sorry" method="post">
<button type="submit" class="btn btn-dark">Try again</button>
</form>
    </div>
    </div>

<%- include("partials/footer") %>